*{
    margin :0%
}
.projectlist-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5vmin;
    align-items: center;
}
.imgtitle{
  width: 12vmin;
  height: 12vmin;
  object-fit: contain;
}
.projectlist-title{
    display: flex ;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.searchbar{
    background-color: #518F97;

    border-radius: 50px;
    display: flex;
    flex-direction: row;
    width : 50vmin;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 5vmin;

}
.projectlist{
    display: flex;
    flex-direction: row ;
    width: 100%;
    justify-content: flex-start;
    font-size: 1em;
   
}
.projectlist .imgdate{
    width: 20px;
    height: 20px;
}
.project-slot{
    border-radius: 15px;
    gap:12px;
    padding: 10px;
        background-color: #E6E6E6;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.date-start-end{
    display: flex;
    flex-direction: row;
    gap : 5vmin;
    justify-content: center;
    max-width:clamp() ;
}
.start-date,.end-date{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.date-img, .date-img{
    display: flex;
    flex-direction: row;
    gap:1vmin
}